### Vscode ###
.vscode 

### Python ###
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.log


###C++###
.out

### Obsidian ###
# Ignora le impostazioni locali di Obsidian (ma tiene i tuoi appunti .md)
.obsidian/

### System Files ###
.DS_Store
Thumbs.db
